@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@900 & display=swap');

.body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
}

img {
    width: 600px;
    height: 400px;
    padding: 3em;
}

.texte { 
    margin-top : 30px ;
    margin-left : 30px ;
}

h1 {
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 60px;
}

p {
    font-size: 40px;
}

footer {
    background: #87E990 ;
    height: 30px;
    width: 100;
    text-align: center;
    padding-top: 5px;
}
