@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@900 & display=swap');

body, html {
    font-family: 'Roboto', sans-serif ;
    margin: 0;
    padding: 0;
    text-decoration: none;
} 

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;  
}

.center-text {
    text-align: center;
}

h1 .h2 .h3 .h4 .h5 {
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    font-size: 60px;
} 

footer {
    background: #87E990 ;
    height: 30px;
    width: 100;
    text-align: center;
    padding-top: 5px;
}    